# Archivos de entorno
.env


# CARPETA DE UPLOADS - NO RASTREAR NADA
uploads/
uploads/*
**/uploads/
uploads/records/
uploads/records/temp/
uploads/records/temp/*
node_modules/
package-lock.json
package.json
node_modules/.package-lock.json
node_modules/brace-expansion/index.js
node_modules/brace-expansion/package.json
